spring:
  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: orchestration-group
      auto-offset-reset: earliest
    listener:
      ack-mode: record
    producer:
      retries: 3
      acks: all

logging:
  level:
    root: INFO
    org.apache.kafka: WARN